<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<img src="<%= picture %>" alt=""/>
<h4>Description of the hero: <%=desc%></h4>
</body>
</html>