<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Something here</a>
      </div>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Sit</a></li>
              <li><a href="#">Amet</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Log in</a></li>
          </ul>
      </div>
  </nav>
  
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
  <ul class="navbar-nav">
    <% menu.forEach(function(bara){ %>
      <li class="nav-item">
      <a class="nav-link" href="/baras/<%=bara.nick%>"><%=bara.title%></a>
      </li>
      <% }) %>
      
  </ul>
  <ul class="navbar-nav navbar-right">
  <li>
  <a class="nav-link" href="/logreg">Log in</a>
  </li>
  </ul>
  </div>
  </nav>  
    <%- body %>
  </body>
</html>
 <body>